*.class

# Package Files #
*.jar
*.war
*.ear

#Ant
build.properties

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Other
*.swp
.externalToolBuilders/

